## Editor config files
/.idea
/.vscode

## WP Content directory
/content/debug.log
/content/upgrade

## General file system
.DS_Store
ehthumbs.db
Thumbs.db
._*

## Dependencies
/node_modules
/vendor

# Altis built
/chassis
/wordpress
/index.php
/wp-config.php

# Production config
/wp-config-production.php

# Build files
/content/themes/pwcc-003/assets/dist/
