[submodule "mu-plugins/vendor/cavalcade"]
	path = mu-plugins/vendor/cavalcade
	url = https://github.com/humanmade/Cavalcade.git
[submodule "mu-plugins/vendor/extended-cpts"]
	path = mu-plugins/vendor/extended-cpts
	url = https://github.com/johnbillion/extended-cpts.git
[submodule "mu-plugins/vendor/hm-cmb"]
	path = mu-plugins/vendor/hm-cmb
	url = https://github.com/humanmade/Custom-Meta-Boxes.git
[submodule "mu-plugins/vendor/twitteroauth"]
	path = mu-plugins/vendor/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "mu-plugins/vendor/rapid-canonical-urls"]
	path = mu-plugins/vendor/rapid-canonical-urls
	url = https://github.com/peterwilsoncc/rapid-canonical-urls.git
[submodule "dropins/wordpress-pecl-memcached-object-cache"]
	path = dropins/wordpress-pecl-memcached-object-cache
	url = https://github.com/humanmade/wordpress-pecl-memcached-object-cache.git
