[submodule "mu-plugins/vendor/cavalcade"]
	path = mu-plugins/vendor/cavalcade
	url = https://github.com/humanmade/Cavalcade.git
[submodule "mu-plugins/vendor/cmb2"]
	path = mu-plugins/vendor/cmb2
	url = https://github.com/CMB2/CMB2.git
[submodule "mu-plugins/vendor/extended-cpts"]
	path = mu-plugins/vendor/extended-cpts
	url = https://github.com/johnbillion/extended-cpts.git
