.excerpt {
	background-color: $color-white;
	padding: 1rem;
	margin-bottom: 2rem;

	&:last-child {
		margin-bottom: 0;
	}

	@media ( min-width: 40rem ) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.excerpt__content > * {
	max-width: 50em;
}
