/**
 * Style up the Galleries.
 *
 * This file accounts for both the gallery shortcode
 * and galleries included by the block editor.
 *
 * The markup is slightly different but we have the
 * technology to work around that.
 *
 * Default to two columns, only allow more as the
 * screen real-estate allows for it.
 *
 * `min-width` is used throughout in combination with
 * flex-basis to create faux container queries for the
 * galleries. The minimum size for a gallery item is 9rem.
 */

.gallery,
.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;

	// Block editor is a list, reset those styles.
	list-style: none;
	padding-left: 0;
}

.gallery-item,
.blocks-gallery-item {
	// Default to two columns.
	min-width: calc( 50% - 1rem );
	margin-left: 1rem;
	margin-bottom: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 9rem; // Minimum image width.
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

// The figure is nested in the block editor gallery.
.blocks-gallery-item > figure {
	min-width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

/*
 * Wild card selector here is a specificity reduction hack.
 *
 * The first block selector is for an unlinked gallery:
 * `.blocks-gallery-item > figure > img`
 *
 * The second block selector is for a linked gallery:
 * `.blocks-gallery-item > figure > a > img`
 */
.gallery-icon,
.blocks-gallery-item > * > img,
.blocks-gallery-item > * > * > img {
	display: block;
}

.gallery-columns-1 > .gallery-item,
.columns-1 > .blocks-gallery-item {
	width: 100%;
}

.gallery-caption,
.blocks-gallery-item > figure > figcaption {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	font-size: 0.74rem;
	color: $color-white;

	/*
	 * 0.55 opacity is the least transparent the background can be while meeting
	 * WGAG 2 Level AA for any size of white text.
	 *
	 * @see https://contrast-ratio.com/#white-on-rgba%280%2C0%2C0%2C0.55%29
	 *
	 * The second color stop of the gradient should match the siz of the top
	 * padding for the caption.
	 */
	background-image: linear-gradient( to bottom, rgba( 0, 0, 0, 0 ), rgba( 0, 0, 0, 0.55 ) 1em );
	padding: 1em .5em .5em;
}

@for $i from 3 through 8 {
	.gallery-columns-#{ $i } > .gallery-item,
	.columns-#{ $i } > .blocks-gallery-item {
		min-width: calc( ( 100% / #{ $i } ) - 1rem );
	}
}

/*
 * The short code [gallery] always displays images as though the
 * `is-cropped` class has been applied. Specificity hacks are used
 * to match the specificity of the block editor's selectors.
 *
 * The block editor version depends on the setting checked by the user.
 */
.is-cropped > .blocks-gallery-item > figure,
.gallery-icon.gallery-icon {
	display: flex;
	flex: 1;
	width: 100%;

	a,
	img {
		flex: 1;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
